*{
    box-sizing: border-box;
}
.footer{
    position: fixed;
    height: -100px;
    bottom: 0;
    text-align: center;
    background-color: #103e8d;
    width: 100%;
    color: #ffffff;
}
/* 
button{
    height: 20px;
    width: 20px;
} */